/CircuitPyPartialImage/lib/adafruit*
/CircuitPyPartialImage/lib/async*
D1_PCB-backups
*.kicad*.lck
*.gbr
PCB/*.zip
*PCB/*/*backups/*.zip
fss.log
localTemp/*
/.VSCodeCounter/
LCPFImage.zip
__pycache__
*.pyc
/lib/