/CircuitPyPartialImage/lib/adafruit*
/CircuitPyPartialImage/lib/async*
*.mpy
CircuitPyDependencies
D1_PCB/D1_PCB/D1_PCB-backups/D1_PCB-2025-03-16_173814.zip
D1_PCB/D1_PCB/D1_PCB-backups/D1_PCB-2025-03-16_174639.zip
D1_PCB/D1_PCB/D1_PCB-backups/D1_PCB-2025-03-16_175655.zip
D1_PCB/D1_PCB/D1_PCB-backups/D1_PCB-2025-03-16_181245.zip
D1_PCB/D1_PCB/D1_PCB-backups/D1_PCB-2025-03-16_182755.zip
